/*reset margin dan padding*/

*{
    margin: 0;
    padding: 0;

}

header, article, aside, footer{
    padding: 1rem;
    margin: 20px 10px;

}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FDAFB1;
}

header, footer{
    height: 20vh;/*mengatur layar*/
    background: #98D1C7;

}

.container{
    display: flex;
    flex-grow: 1;
}

.article{
    background-color: #FA7A7B;
    text-align: center;
    margin: 20px 10px;
    flex-grow: 1; /*supaya elemenya bisa mengisi di ruang yang kosong dikontainer*/
}

img{
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
}

aside{
    background-color:#62B7B6;
    flex: 0 0 20vw;

}
