/*reset margindan pading di tag body*/

html{
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
}

img{
    height: 4rem;
}

/*flex container*/
nav{ 
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    padding: 0.5rem;
    align-items: center;
}

/*flex container*/
nav ul{
    list-style: none;
    display: flex;
    
}

nav ul li{
    margin: 0 0.5rem;
}